USE [RRD]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 4/20/2018 10:47:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Name] [nvarchar](200) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/20/2018 10:47:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Name] [nvarchar](200) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([Name], [ID]) VALUES (N'Wood Grove Widgets Inc.', 1)
INSERT [dbo].[Company] ([Name], [ID]) VALUES (N'Olympia Widgets International', 2)
INSERT [dbo].[Company] ([Name], [ID]) VALUES (N'Striker Widget Group', 3)
SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Name], [ID]) VALUES (N'AGNES       ', 1)
INSERT [dbo].[Employee] ([Name], [ID]) VALUES (N'HERMAN      ', 2)
INSERT [dbo].[Employee] ([Name], [ID]) VALUES (N'CHARLENE    ', 3)
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
